AzureDFaccount1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AzureDFaccount1"
		},
		"ADLS_LS01_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLS_LS01'"
		},
		"AzureDataLakeStorageLS001_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorageLS001'"
		},
		"AzureSqlDatabasels2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabasels2'"
		},
		"Azuresqldatabasels1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Azuresqldatabasels1'"
		},
		"SQL_LS01_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SQL_LS01'"
		},
		"praacticeadls_LS1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'praacticeadls_LS1'"
		},
		"practiceLS01_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'practiceLS01'"
		},
		"practiceLS1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'practiceLS1'"
		},
		"ADLS_LS01_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsstorageaccountno1.dfs.core.windows.net/"
		},
		"AzureDataLakeStorageLS001_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsstorageaccountno1.dfs.core.windows.net/"
		},
		"AzureSqlDatabasels2_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "myadfserver01.database.windows.net"
		},
		"AzureSqlDatabasels2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "myazuresqlDB01"
		},
		"AzureSqlDatabasels2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "azurelib"
		},
		"Azuresqldatabasels1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "myadfserver01.database.windows.net"
		},
		"Azuresqldatabasels1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "myazuresqlDB01"
		},
		"Azuresqldatabasels1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "azurelib"
		},
		"SQL_LS01_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "myadfserver01.database.windows.net"
		},
		"SQL_LS01_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "myazuresqlDB01"
		},
		"SQL_LS01_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "azurelib"
		},
		"praacticeadls_LS1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsstorageaccountno1.dfs.core.windows.net/"
		},
		"practiceLS01_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsstorageaccountno1.dfs.core.windows.net/"
		},
		"practiceLS1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "myadfserver01.database.windows.net"
		},
		"practiceLS1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "myazuresqlDB01"
		},
		"practiceLS1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "azurelib"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/getmetadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata of tab1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "sql_dataset01",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							]
						}
					},
					{
						"name": "Copy data from sql to adls if exist",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Metadata of tab1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sql_dataset01",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_dataset01",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sql_dataset01')]",
				"[concat(variables('factoryId'), '/datasets/adls_dataset01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_dataset01')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_LS01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "landingdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_LS01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_dataset01')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL_LS01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "sr_no",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tab1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQL_LS01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_LS01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS_LS01_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLS_LS01_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageLS001')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageLS001_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorageLS001_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabasels2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabasels2_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabasels2_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"hostNameInCertificate": "",
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabasels2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabasels2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azuresqldatabasels1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Azuresqldatabasels1_properties_typeProperties_server')]",
					"database": "[parameters('Azuresqldatabasels1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"hostNameInCertificate": "",
					"authenticationType": "SQL",
					"userName": "[parameters('Azuresqldatabasels1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Azuresqldatabasels1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_LS01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('SQL_LS01_properties_typeProperties_server')]",
					"database": "[parameters('SQL_LS01_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"hostNameInCertificate": "",
					"authenticationType": "SQL",
					"userName": "[parameters('SQL_LS01_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SQL_LS01_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/praacticeadls_LS1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('praacticeadls_LS1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('praacticeadls_LS1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/practiceLS01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('practiceLS01_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('practiceLS01_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/practiceLS1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('practiceLS1_properties_typeProperties_server')]",
					"database": "[parameters('practiceLS1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"hostNameInCertificate": "",
					"authenticationType": "SQL",
					"userName": "[parameters('practiceLS1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('practiceLS1_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}