pipeline/pipeline5.json
{
	"name": "pipeline5",
	"properties": {
		"activities": [
			{
				"name": "get date1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "HW_DATASET",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get date2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "get date1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modifieddate) as date2 from saleslt.customer;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CustomerSQLDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "incremental copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get date2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from saleslt.customer where modifieddate > '@{activity('get date1').output.firstRow.date2}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CustomerSQLDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "adls_generic_dataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}